body {
  background-color: rgb(0, 0, 0);
}

.btn {
  width: 200px;
  height: 50px;
  background-color: aqua;
  border-radius: 23px;
  margin: 10px;
  border: none;
  box-shadow: rgb(80, 99, 99) 5px 15px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.btn:hover {
  background-color: rgb(255, 85, 241);
  box-shadow: rgb(80, 99, 99) 15px 15px 15px;
}

input, .select {
  width: 200px;
  height: 40px;
  border-radius: 23px;
  border: none;
  text-align: center;
  font-size: 21px;
  box-shadow: rgb(80, 99, 99) 5px 10px 10px;
  margin: 7px 0px;
}

.input-range {
  box-shadow: rgb(80, 99, 99) 0px 0px 0px;
}

/* .sorting-input-range {
  box-shadow: rgb(80, 99, 99) 0px 0px 0px;
  transform: rotate(-90deg)
} */

.select {
  padding-left: 40px;
  height: 42px;
  font-size: 19px;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searching-container, .sorting-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  margin-top: 50px;
  /* justify-content: flex-start; */
}

.array-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 550px;
  width: 1000px;
  box-shadow: black 1px 0px 15px;
  margin: 0px 5px;
  padding: 10px;
  border-radius: 10px;
}

.utility-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 250px;
  padding: 5px;
  align-items: center;
  justify-content: center;
  background-color: gainsboro;
  box-shadow: black 15px 15px 35px;
  border-radius: 23px;
  margin: 10px;
  font-size: 21px;
}

.array-bar {
  width: auto;
  transition: all 0.5s;
  border-radius: 3px;
  padding: 1px;
}

.sorting-array-bar {
  width: 50px;
  transition: height 0.1s;
  border-radius: 3px;
  margin: 0px 1px;
}

.result-box {
  position: absolute;
  width: 250px;
  height: 50px;
  left: 39vw;
  top: 9vh;
  transform: translateX(-125px);
  border-radius: 13px;
  line-height: 50px;
  font-weight: bold;
  color: white;
  /* background-color: greenyellow; */
}
.green{
  background-color: #107834;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 10px;
}
.red{
  background-color: #751111;
  box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 10px;
}