.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.searching-container {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  /* justify-content: center; */
}

.array-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  height: 600px;
  width: 1000px;
  border: 1px solid red;
  margin: 0px 5px;
}

.utility-container {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 300px;
  border: 1px solid black;
  padding: 15px;
}

.array-bar {
  width: 6px;
  background-color: aqua;
  transition: all 0.5s;
}
